name: CI

on:
  push:
    branches: [ "develop" ]
  pull_request: { }
  workflow_dispatch: { }

permissions:
  actions: read
  contents: read

jobs:
  build:
    name: 'build'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          large-packages: false
          docker-images: false
          swap-storage: false
      - uses: ./.github/actions/setup-zig
      - uses: ./.github/actions/setup-rust
      - uses: ./.github/actions/setup-python

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - name: Rust Build
        run: cargo build --all-targets

      - name: Python Lint - Format
        run: rye run ruff format --check .
      - name: Python Lint - Ruff
        run: rye run ruff .

      - name: Rust Lint - Format
        run: cargo fmt --all --check
      - name: Rust Lint - Clippy
        run: cargo clippy --all-targets
      - name: Rust Test
        run: cargo test --all

      - name: Pytest - PyVortex
        run: rye run pytest --benchmark-disable test/
        working-directory: pyvortex/

